

<form [formGroup]="loginForm">
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" class="form-control" id="email" formControlName="email" required>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha:</label>
      <input type="password" class="form-control" id="password" formControlName="password" required>
    </div>
    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Login</button>
  </form>
  
